<!DOCTYPE html>
<html>
    <head>
        <title>Performance Comercial</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/estilos.css">
        <script  src="https://code.jquery.com/jquery-2.2.4.min.js"> </script>
    </head>
    <body>
        
        <div>
            {{>header/navbar}}
        </div>

        <div class="container">
            {{{body}}}
        </div>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
        <script src="/js/moment.min.js"> </script>
    
    </body>
</html>